/* reset css */

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

/* nav bar */
#navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 7rem;
	background: crimson;
	color: #ffffff;
}

.nav-logo {
	font-size: 1.5rem;
	font-weight: 700;
}

.nav-link {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.3rem;
	font-weight: 400;
}
.nav-link:hover {
	color: darkgoldenrod;
}

.nav-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
/* welcome section */
#welcome-section {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #2e3032;
}

.welcome-text {
	color: #ffffff;
}

/* projects section */

#projects {
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 20px;
}

.project-tile {
	display: flex;
	flex-direction: column;
	height: auto;
}

.view-project {
	width: 100%;
	background: #626466;
	text-decoration: none;
	color: white;
	padding: 0.5rem;
}
